@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 80vw;
        height: 350px;
        
    }
    section#login > div#imagen{
        float: left;
        width: 30%;
        height: 100%;

    }
    section#login > div#formulario{
        float: right;
        width: 70%;

    }

    div.campo > input {
        background-color: #49a09d;
        font-size: 1em;
        width: calc(70% - 50px);
        height: 100%;
        border: 0px;
        border-radius: 5px;
        padding: 4px;
        transform: translateY(-11px);
    }

    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 70%;
        height: 40px;
        background-color: #49a09d;
        border: none;
        border-radius: 5px;
        color: #fff;
    
    }
    
}

@media screen and (min-width: 992px){

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
        width: 950px;
    }
    section#login > div#imagen{
        float: left;
        width: 50%;
        height: 100%;

    }
    section#login > div#formulario{
        float: right;
        width: 70%;
        height: 100%;

    }
    div#formularios > h1{
        font-size: 2em;
    }
    
    div#formularios > p{
        font-size: 1.2em;
    }

    div.campo > input {
        background-color: #49a09d;
        font-size: 1em;
        width: calc(50% - 50px);
        height: 100%;
        border: 0px;
        border-radius: 5px;
        padding: 4px;
        transform: translateY(-11px);
    }

    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 50%;
        height: 40px;
        background-color: #49a09d;
        border: none;
        border-radius: 5px;
        color: #fff;
    
    }

}
